<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>Tweet #1 
                    <small>5 comentários</small>
                </h3>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><i class="fa fa-home"></i>
                    </li>
                    <li class="breadcrumb-item">Início</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-12">
            <div class="card tweet-card">
                <div class="card-header tweet-header">
                    <div>
                        <span class="tweet-name">Fulano de Tal</span>
                        <span class="mr-3 ml-3">.</span>
                        <span class="message-data-time">10:12 am</span>
                    </div>
                </div>
                <div class="card-body">
                    <p class="mb-0"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled. </p>
                </div>
                <div class="card-footer tweet-footer">
                    <div class="card-body">
                        <div class="timeline-small">
                          
                            <div class="media">
                                <div class="timeline-round m-r-30 timeline-line-1 bg-primary">
                                <i class="fa fa-comment-o"></i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <span class="tweet-name">Fulano de Tal</span>
                                        <span class="mr-3 ml-3">.</span>
                                        <span class="message-data-time">10:12 am</span>
                                    </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                                    industry.</p>
                                </div>
                            </div>

                            <div class="media">
                                <div class="timeline-round m-r-30 small-line bg-primary">
                                <i class="fa fa-comment-o"></i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <span class="tweet-name">Fulano de Tal</span>
                                        <span class="mr-3 ml-3">.</span>
                                        <span class="message-data-time">10:12 am</span>
                                    </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                                    industry.</p>
                                </div>
                            </div>

                            <div class="media">
                                <div class="timeline-round m-r-30 small-line bg-primary">
                                    <i class="fa fa-tag" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <h6>New Visits <span class="pull-right f-14">14m Ago</span></h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                                    industry.</p>
                                </div>
                            </div>

                          
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>